<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
            <add invariant="System.Data.SqlServerCe.4.0" name="Microsoft® SQL Server® Compact 4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <clear />
    <add name="LocalMySqlServer" connectionString="server=us-cdbr-azure-east-b.cloudapp.net;database=simpledb13;User Id=b43371f6ed282f;password=spring2013" providerName="MySql.Data.MySqlClient" />
    <add name="simpledb13" connectionString="server=us-cdbr-azure-east-b.cloudapp.net;database=simpledb13;uid=b43371f6ed282f;pwd=spring2013" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
 
    <system.web>
      <!--
      <authentication mode="Forms" />
      <membership defaultProvider="MySqlMembershipProvider">
        <providers>
          <clear />
          <remove name="MySQLMembershipProvider" />
          <add name="MySqlMembershipProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.6.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" applicationName="mysqlmembership" description="MySQL default application" connectionStringName="simpledb13" writeExceptionsToEventLog="True" autogenerateschema="True" enableExpireCallback="False" enablePasswordRetrieval="False" enablePasswordReset="True" requiresQuestionAndAnswer="False" requiresUniqueEmail="True" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
        </providers>
      </membership>
      <roleManager enabled="true" defaultProvider="MySQLRoleProvider">
        <providers>
          <clear />
          <remove name="MySQLRoleProvider" />
          <add applicationName="mysqlroles" description="MySql" connectionStringName="simpledb13" writeExceptionsToEventLog="False" autogenerateschema="True" enableExpireCallback="False" name="MySQLRoleProvider" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web, Version=6.6.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
        </providers>
      </roleManager>
      -->
      <customErrors mode="Off" />
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
</configuration>